.xprodguide {width:755px; padding: 20px 10px 170px 10px; clear:both; border-top: 2px dotted #ebeaef;}
.ximage {float:left; width:200px; position:relative; margin:0;}
.ximage .xsplash {
    position:absolute;
    top:63px;
    max-width:150px;
	background-color:#b91e1e;
	padding:5px;
	color:#fff;
	font-weight:bold;
	font-size:13px;
	text-transform:uppercase;}
.xcontent {float:right; width:535px;}
.xhead {font-size:16px;}
.xbullets {float:left; width:535px;}
ul {list-style-type:disc; padding: 0 0 0 15px;}

.xpriceaction {float:right;}
.xprice {float:left; width:135px; display:inline;}
.xpricepre {font-size:11px; display:inline;}
.xpricenow {font-weight:bold; font-size:30px; color:#074866;}
.xaction {float:left; width:60px; display:inline;}

.xtext a:link {color: #444; text-decoration: none; font-weight:normal;}
.xtext a:visited {color: #444; text-decoration: none; font-weight:normal;}
.xtext a:active {color: #444; text-decoration: none; font-weight:normal;}
.xtext a:hover {color: #444; text-decoration: none; font-weight:normal;}

.xpricenow a:link {color: #074866; text-decoration: none;}
.xpricenow a:visited {color: #074866; text-decoration: none;}
.xpricenow a:active {color: #074866; text-decoration: none;}
.xpricenow a:hover {color: #074866; text-decoration: none;}

#xterminfowrap {color:#666666; text-align:left; padding:25px;}
/*#xterminfowrap h1 {color:#0078af; margin:0; font-size:13px; font-weight:bold; text-align:left; padding:0 0 25px 0;}*/
.xterminfo {padding:0 0 20px 0; text-align:left; font-style:normal;}
.xterminfo h3 {color:#4d4d4f; margin:0; font-size:12px; font-weight:bold; text-align:left; padding:0 0 5px 0;}
